@import "./utilities/variables";
@import "./utilities/mixins";
@font-face {
    font-family: 'inicio';
    src: url(../assets/font/Poppins-Bold.ttf);

    font-family: 'texto';
    src: url(../assets/font/Merriweather-Regular.ttf);

    font-family: 'titulo';
    src: url(../assets/font/OrelegaOne-Regular.ttf);
}
@import "./base/reset";

@import "./layout/header";
@import "./layout/main-index";

@import "./layout/footer";